/* GREATNESS WILL BE CODED HERE!!! */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.8em;
    font-weight: 300;
    margin: 0;
}

.home {
    margin: 160px auto;
    width: 74%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.home-item {
    margin: 10px auto;
    max-width: 160px;
    min-width: 160px;
    padding: 30% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.home a {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #333333;
    text-align: center;
    box-shadow: 8px 8px 10px #ececec;
    text-decoration: none;
    color: #333333;
}

.home div {
    font-size: 1.4em;
    font-weight: 300;
}

.home .special-icon:before {
    font-family: 'FontAwesome';
    content: '\f101';
    color: #f65ea5;
    font-size: 1.2em;
}

.home .special-icon:after {
    font-family: 'FontAwesome';
    content: '\f100';
    color: #f65ea5;
    font-size: 1.2em;
}

.home .special {
    font-size: 1em;
    color: #f65ea5;
    font-weight: 500;
}

.home a:hover {
    border: 1px solid #f65ea5;
}

.feather-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    transition: 2s;
}

.feathers-active.feather-animation {
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
}

.feather {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: 2s;
}

.welcome-button {
    text-decoration: none;
    color: #333333;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    visibility: visible;
    opacity: 1;
    transition: opacity .6s;
}

.feathers-active .welcome-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .6s, opacity .6s;
}

.welcome-button:before {
    font-family: 'FontAwesome';
    content: '\f101';
    color: #f65ea5;
    font-size: 1.2em;
}

.welcome-button:after {
    font-family: 'FontAwesome';
    content: '\f100';
    color: #f65ea5;
    font-size: 1.2em;
}

.feather-one {
    transform: translate(-50%, -50%) rotate(23deg);
    animation: f1 1.8s;
    transition: 2s;
}

.feathers-active .feather-one {
    transform: translate(822px, -100px) rotate(-90deg);
}

@keyframes f1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(23deg);
    }
}

.feather-two {
    transform: translate(-50%, -50%) rotate(45deg);
    animation: f2 1.8s;
    transition: 2s;
}

.feathers-active .feather-two {
    transform: translate(874px, -200px) rotate(-90deg);
}

@keyframes f2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.feather-three {
    transform: translate(-50%, -50%) rotate(68deg);
    animation: f3 1.8s;
    transition: 2s;
}

.feathers-active .feather-three {
    transform: translate(822px, -300px) rotate(-90deg);
}

@keyframes f3 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(68deg);
    }
}

.feather-four {
    transform: translate(-50%, -50%) rotate(90deg);
    animation: f4 1.8s;
    transition: 2s;
}

.feathers-active .feather-four {
    transform: translate(874px, -400px) rotate(-90deg);
}

@keyframes f4 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.feather-five {
    transform: translate(-50%, -50%) rotate(113deg);
    animation: f5 1.8s;
    transition: 2s;
}

.feathers-active .feather-five {
    transform: translate(822px, -500px) rotate(-90deg)
}

@keyframes f5 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(113deg);
    }
}

.feather-six {
    transform: translate(-50%, -50%) rotate(0deg);
    visibility: visible;
    opacity: 1;
    transition: opacity .8s;
}

.feathers-active .feather-six {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .8s, opacity .8s;
}

.feather-seven {
    transform: translate(-50%, -50%) rotate(-23deg);
    animation: f7 1.8s;
    transition: 2s;
}

.feathers-active .feather-seven {
    transform: translate(-902px, -100px) rotate(90deg);
}

@keyframes f7 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-23deg);
    }
}

.feather-eight {
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: f8 1.8s;
    transition: 2s;
}

.feathers-active .feather-eight {
    transform: translate(-954px, -200px) rotate(90deg);
}

@keyframes f8 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.feather-nine {
    transform: translate(-50%, -50%) rotate(-68deg);
    animation: f9 1.8s;
}

.feathers-active .feather-nine {
    transform: translate(-902px, -300px) rotate(90deg);
}

@keyframes f9 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-68deg);
    }
}

.feather-ten {
    transform: translate(-50%, -50%) rotate(-90deg);
    animation: f10 1.8s;
}

.feathers-active .feather-ten {
    transform: translate(-954px, -400px) rotate(90deg);
}

@keyframes f10 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

.feather-eleven {
    transform: translate(-50%, -50%) rotate(-113deg);
    animation: f11 1.8s;
}

.feathers-active .feather-eleven {
    transform: translate(-902px, -500px) rotate(90deg);
}

@keyframes f11 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-113deg);
    }
}

/*index-navigation positioning the feathers*/

.feather-static {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transition: 2s;
    pointer-events: none;
}

h1 > a {
    text-decoration: none;
    color: #333333;
}

.navigation-container {
    position: relative;
}

.container-right {
    position: absolute;
    transform: rotate(-90deg);
}

.feather-navigation-one {
    top: 376px;
    left: 1344px;
}

.feather-navigation-two {
    top: 276px;
    left: 1396px;
}

.feather-navigation-three {
    top: 176px;
    left: 1344px;
}

.feather-navigation-four {
    top: 76px;
    left: 1396px;
}

.feather-navigation-five {
    top: -36px;
    left: 1344px;
}

.container-left {
    position: absolute;
    transform: rotate(90deg);
}

.feather-navigation-six {
    top: 376px;
    left: -54px;
}

.feather-navigation-seven {
    top: 276px;
    left: -110px;
}

.feather-navigation-eight {
    top: 176px;
    left: -54px;
}

.feather-navigation-nine {
    top: 76px;
    left: -110px;
}

.feather-navigation-ten {
    top: -36px;
    left: -54px;
}

/* Long posts page here: */

.container-blog {
    text-align: center;
}

.blogpost {
    margin: 26px auto;
    width: 480px;
    min-width: 300px;
    border: 1px solid #333333;
    display: block;
    vertical-align: top;
    border-radius: 25px;
    padding: 18px;
    text-align: left;
    position: relative;
    z-index: 100;
}

.blogpost-title {
    position: relative;
    border-bottom: 1px dashed #f65ea5;
}

.blogpost-subtitle {
    margin: 0 0 6px 6px;
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
}

.toggle-content {
    display: none;
}

.article-more .toggle-content {
    display: block;
}

.date-formatting {
    text-align: left;
    font-size: 0.8em;
    background-color: #f65ea5;
    color: #ffffff;
    padding: 3px 6px;
    position: absolute;
    top: -3px;
    left: -120px;
    border-radius: 5px;
    z-index: 100;
}

.blogpost-title .date-formatting {
    font-weight: 500;
}

.blogpost p {
    margin: 6px 0;
    font-weight: 300;
}

.line {
    height: 1300px;
    width: 1px;
    border-left: 1px dashed #f65ea5;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -325px;
    top: 0;
}

.see-more {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 42px;
    border-radius: 36px;
    border: 1px solid #f65ea5;
    margin: 15px auto 0px auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.35s;
}

.see-more:hover {
    color: #f65ea5;
}

.article-more .see-more {
    transform: rotate(180deg);
}

.fa-angle-double-down, .fa-angle-double-up {
    font-size: 1.4em;
}

/* short posts here*/

.container-shorts {
    text-align: center;
}

.short {
    margin: 26px auto;
    width: 400px;
    min-width: 300px;
    border: 1px solid #f65ea5;
    display: block;
    vertical-align: top;
    border-radius: 25px;
    padding: 0 14px 14px 14px;
    text-align: left;
    position: relative;
    z-index: 100;
}

.date-formatting-shorts {
    text-align: left;
    font-size: 0.8em;
    background-color: #333333;
    color: #ffffff;
    padding: 3px 6px;
    position: absolute;
    top: -3px;
    left: -105px;
    border-radius: 5px;
    z-index: 100;
}

.content-shorts {
    margin: 14px 0 0 0;
    font-weight: 400;
    font-size: 1em;
    text-align: justify;
}

.line-shorts {
    height: 1620px;
    width: 1px;
    border-left: 2px dotted #333333;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -280px;
    top: 0;
}

.like-button {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    border: 1px solid #e2e2e2;
    margin: 15px auto 0 auto;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1.2em;
    color: #e2e2e2;
    transition: 0.3s;
}

.liked-button .like-button {
    color: #f65ea5;
    border-color: #f65ea5;
    transition: 0.3s;
}

/*gallery part*/

.header-pages {
    text-align: center;
}

.back-to-nav-button {
    text-decoration: none;
    text-align: center;
    color: #333333;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    visibility: visible;
    opacity: 1;
    transition: opacity .6s;
}

.back-to-nav-button:before {
    font-family: 'FontAwesome';
    content: '\f101';
    color: #f65ea5;
    font-size: 1.2em;
}

.back-to-nav-button:after {
    font-family: 'FontAwesome';
    content: '\f100';
    color: #f65ea5;
    font-size: 1.2em;
}

.peacock-container {
    margin: 0 auto;
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.peacock-image {
    max-width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid #3f3f3f;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    order: 1;
}

.peacock-image:hover {
    border: 1px solid #3f3f3f;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.image-container {
    text-align: left;
    margin: 22px;
    max-width: 280px;
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.image-container:before {
    font-family: 'FontAwesome';
    content: '\f22d';
    color: #f65ea5;
    font-size: 1.2em;
    margin-top: 40%;
    margin-right: 8px;
    order: 1;
}

.image-container:after {
    font-family: 'FontAwesome';
    content: '\f22d';
    color: #f65ea5;
    font-size: 1.2em;
    margin-top: 40%;
    margin-left: 8px;
    order: 1;
}

.name-image {
    font-size: 1em;
    color: #f65ea5;
    font-weight: 500;
    order: 2;
    margin-top: 8px;
}

/*design contact form*/

.contact-form {
    background: #ffffff;
    height: 550px;
    width: 500px;
    border-radius: 50px;
    border: 1px solid #3f3f3f;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
    font-weight: 300;
    flex-wrap: wrap;
}

.contact-form > div {
    margin: 10px auto;
}

.contact-form > div.container-button {
    margin-top: 0;
}

input {
    border: none;
    border-bottom: 2px dotted #f65ea5;
    font-weight: 300;
    font-size: 0.9em;
    color: #f65ea5;
    text-align: center;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    text-align: center;
    color: rgba(246, 94, 165, 0.4);
    font-style: italic;
    font-weight: 300;
}

:-moz-placeholder {
    /* Firefox 18- */

    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

::-moz-placeholder {
    /* Firefox 19+ */

    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

:-ms-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
}

textarea {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #f65ea5;
    font-weight: 300;
    resize: none;
    padding: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9em;
}

textarea:focus {
    outline: none;
}

.container-button {
    text-align: center;
}

.success-msg {
    margin: 0 auto 10px auto;
    font-size: 0.875em;
    max-width: 80%;
    background-color: MEDIUMTURQUOISE;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    display: none;
}

.article-more .success-msg {
    display: block;
}

.submit-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: none;
    border: 1px solid #3f3f3f;
    color: #3f3f3f;
    align-self: flex-end;
    cursor: pointer;
    font-weight: 900;
}

.submit-button:hover {
    border: 1px solid #3f3f3f;
    color: #f65ea5;
}



/* media queries - 1600px, 1024px, 960px, 768px, 640px, 480px, 320px. */

@media (min-width: 1367px) and (max-width: 1601px) {

    .feather-navigation-one {
        top: 376px;
        left: 1575px;
    }

    .feather-navigation-two {
        top: 276px;
        left: 1630px;
    }

    .feather-navigation-three {
        top: 176px;
        left: 1575px;
    }

    .feather-navigation-four {
        top: 76px;
        left: 1630px;
    }

    .feather-navigation-five {
        top: -36px;
        left: 1575px;
    }
}

@media (min-width: 1601px) {
    .container-right,
    .container-left,
    .feather-animation {
        display: none;
    }
}


@media (max-width: 1365px) {
    .container-right,
    .container-left,
    .feather-animation {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 960px){
    .home {
        width: 50%;
    }
}


@media (min-width: 640px) and (max-width: 768px){
    .home {
        width: 60%;
    }

    p.date-formatting,
    p.date-formatting-shorts {
        position: static;
        display: inline-block;
    }

    p.date-formatting {
        margin-top: 0;
    }

    p.date-formatting-shorts {
        margin-bottom: 0;
    }

    .line,
    .line-shorts {
        display: none;
    }

    header.blogpost-title {
        text-align: left;
    }
}

@media (max-width: 640px) {



    .blogpost {
        width: 100%;
        box-sizing: border-box;
        min-width: 0;
    }

    p.date-formatting,
    p.date-formatting-shorts {
        position: static;
        display: inline-block;
    }

    p.date-formatting {
        margin-top: 0;
    }

    p.date-formatting-shorts {
        margin-bottom: 0;
    }

    .line,
    .line-shorts {
        display: none;
    }

    header.blogpost-title {
        text-align: left;
    }

    .contact-form {
        max-width: 100%;
        box-sizing: border-box;
    }

}
@media (max-width: 480px){
    .home {
        width: 50%;
    }

    .short {
        width: 100%;
        box-sizing: border-box;
        min-width: 0;

    }

    .image-container {
        box-sizing: border-box;
    }

    label {
        width: 100%;
        display: block;
        text-align: center
    }

    .contact-form {
        height: 580px;
    }
}
