/* GREATNESS WILL BE CODED HERE!!! */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.8em;
    font-weight: 300;
    margin: 0;
}

.home {
    margin: 160px auto;
    width: 74%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.home-item {
    margin: 10px auto;
    max-width: 160px;
    min-width: 160px;
    padding: 30% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.home a {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #333333;
    text-align: center;
    box-shadow: 8px 8px 10px #ececec;
    text-decoration: none;
    color: #333333;
}

.home div {
    font-size: 1.4em;
    font-weight: 300;
}

.home .special-icon:before {
    font-family: 'FontAwesome';
    content: '\f101';
    color: #f65ea5;
    font-size: 1.2em;
}

.home .special-icon:after {
    font-family: 'FontAwesome';
    content: '\f100';
    color: #f65ea5;
    font-size: 1.2em;
}

.home .special {
    font-size: 1em;
    color: #f65ea5;
    font-weight: 500;
}

.home a:hover {
    border: 1px solid #f65ea5;
}

.feather-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    text-align: center;
    transition: 2s;
}

.feathers-active.feather-animation {
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
}

.feather {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: 2s;
}

.welcome-button {
    text-decoration: none;
    color: #333333;
    margin-top: 10px;
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    visibility: visible;
    opacity: 1;
    transition: opacity .6s;
}

.feathers-active .welcome-button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .6s, opacity .6s;
}

.welcome-button:before {
    font-family: 'FontAwesome';
    content: '\f101';
    color: #f65ea5;
    font-size: 1.2em;
}

.welcome-button:after {
    font-family: 'FontAwesome';
    content: '\f100';
    color: #f65ea5;
    font-size: 1.2em;
}

.feather-one {
    transform: translate(-50%, -50%) rotate(23deg);
    animation: f1 1.8s;
    transition: 2s;
}

.feathers-active .feather-one {
    transform: translate(822px, -100px) rotate(-90deg);
}

@keyframes f1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(23deg);
    }
}


.feather-two {
    transform: translate(-50%, -50%) rotate(45deg);
    animation: f2 1.8s;
    transition: 2s;
}

.feathers-active .feather-two {
    transform: translate(874px, -200px) rotate(-90deg);
}

@keyframes f2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.feather-three {
    transform: translate(-50%, -50%) rotate(68deg);
    animation: f3 1.8s;
    transition: 2s;
}

.feathers-active .feather-three {
    transform: translate(822px, -300px) rotate(-90deg);
}

@keyframes f3 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(68deg);
    }
}

.feather-four {
    transform: translate(-50%, -50%) rotate(90deg);
    animation: f4 1.8s;
    transition: 2s;
}

.feathers-active .feather-four {
    transform: translate(874px, -400px) rotate(-90deg);
}

@keyframes f4 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.feather-five {
    transform: translate(-50%, -50%) rotate(113deg);
    animation: f5 1.8s;
    transition: 2s;
}

.feathers-active .feather-five {
    transform: translate(822px, -500px) rotate(-90deg)
}

@keyframes f5 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(113deg);
    }
}

.feather-six {
    transform: translate(-50%, -50%) rotate(0deg);
    visibility: visible;
    opacity: 1;
    transition: opacity .8s;
}

.feathers-active .feather-six {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .8s, opacity .8s;
}

.feather-seven {
    transform: translate(-50%, -50%) rotate(-23deg);
    animation: f7 1.8s;
    transition: 2s;
}

.feathers-active .feather-seven {
    transform: translate(-902px, -100px) rotate(90deg);
}

@keyframes f7 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-23deg);
    }
}

.feather-eight {
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: f8 1.8s;
    transition: 2s;
}

.feathers-active .feather-eight {
    transform: translate(-954px, -200px) rotate(90deg);
}

@keyframes f8 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.feather-nine {
    transform: translate(-50%, -50%) rotate(-68deg);
    animation: f9 1.8s;
}

.feathers-active .feather-nine {
    transform: translate(-902px, -300px) rotate(90deg);
}

@keyframes f9 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-68deg);
    }
}

.feather-ten {
    transform: translate(-50%, -50%) rotate(-90deg);
    animation: f10 1.8s;
}

.feathers-active .feather-ten {
    transform: translate(-954px, -400px) rotate(90deg);
}

@keyframes f10 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

.feather-eleven {
    transform: translate(-50%, -50%) rotate(-113deg);
    animation: f11 1.8s;
}

.feathers-active .feather-eleven {
    transform: translate(-902px, -500px) rotate(90deg);
}

@keyframes f11 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-113deg);
    }
}























.peacock-container {
    margin: 20px auto;
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.peacock-image {
    max-width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid #3f3f3f;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.peacock-image:hover {
    border: 1px solid #3f3f3f;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 22px;
    max-width: 264px;
    min-width: 264px;
}

.image-container:before {
    font-family: 'FontAwesome';
    content: '\f101';
    color: #f65ea5;
    font-size: 1.6em;
    margin-top: 40%;
    margin-right: 6px;
}

.image-container:after {
    font-family: 'FontAwesome';
    content: '\f100';
    color: #f65ea5;
    font-size: 1.6em;
    margin-top: 40%;
    margin-left: 6px;
}

